.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cardN{
  background-color: #C2DCF5;
  padding: 20px 20px 20px 20px;
  margin-left: 10px;
  border-radius: 15px;
}

.logo{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 3px solid rgb(74, 74, 255);
  margin-left: 20px;

}

input:not(:placeholder-shown):invalid{
  border: 3px solid rgb(232, 150, 150);
  border-radius: 4px;
};
.button1 {
  position:absolute;
  bottom:120px;
  right:10px;
 background-color: rgba(0, 0, 0, 0) ;
  border-color: white; 
  color: white; 
  padding: 2px 8px; 
  font-size: 15px;
  cursor: pointer; 
  border-radius: 50%;
  backdrop-filter: blur(5px);
}

.button1:hover {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.wrapper{
  height: 280px;
  overflow-y: auto;

}

.wrapper::-webkit-scrollbar {
  width: 20px;
}

.wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

.wrapper::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: rgb(11, 126, 219); 
  border-radius: 10px;
}

.wrapper::-webkit-scrollbar-thumb:hover {
  background: #0448b8; 
}


.gg{
  margin-top: 10px;
}




/* ravi */


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 2s;
  border: none;
  
  }

  .Carousel .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;;
  }
 
 .Carousel img{
   width: 1px;
   height: 1px;
   box-shadow:10px 10px 10px ;
 }
 
 .Carousel #pic1{
   width: 850px;
   height: 500px;
   transition-property: width, heght;
   /* transition-duration: 1s; */
   
   
 }
 
 .Carousel .container{
   padding: 10px;
   color: rgb(1, 7, 7);
 }
 

 .bod1{
    text-align: left;
    color: #bcd0f7;
    background: #0b1428;    
 
}
 
 
.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.image {
  width: 1200px;
  height: 600px;
  border-radius: 10px;
}
 
.right-arrow {
 
  top: 50%;
  right: 400px;
  font-size: 3rem;
  color: rgb(1, 7, 5);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
 
.left-arrow {
  
  top: 50%;
  left: 350px;
  font-size: 3rem;
  color: rgb(27, 8, 8);
  z-index: 10;
  cursor: pointer;
  user-select: none;
} 

.backgroundR {
  
  min-height: 100vh;
  display: flex;
  background-size: cover;
  background-position: center;
  
} 

#cardcol{

  background-color: #fff;
  color: #bcd0f7;
  border-radius: 20px;

      

}

.Toastify__toast--success {
  top: 80px;
  border: 1px solid #3fa53a !important;
  border-radius: 5px !important;
  background: #F0F9FA !important;
}

.Toastify__toast--error {
  top: 80px;
  border: 1px solid #EB5757;
  border-radius: 5px !important;
  background: #FAE1E2 !important;
}